* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Section1-hero*/

#hero {
    background-color: #696969;
    width: 100%;
    height: 300px;
}

h1 {
    color: white;
    font-size: 28px;
    padding-top: 60px;
    padding-left: 18px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.texto-hero {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 8px;
    padding-left: 6px;
}

.boton-hero {
    width: 150px;
    height: 45px;
    border-radius: 20px;
    background-color: white;
    border: 2px rgb(56, 56, 56) solid;
    margin-top: 35px;
    margin-left: 110px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(56, 56, 56);
}

/*Section2-sobre nosotros*/

#sobre-nosotros {
    background-color: #e6e3e1;
    height: 600px;
}

.titulo-sobre-nosotros {
    font-size: 30px;
    padding-top: 36px;
    padding-left: 10px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.texto-sobre-nosotros {
    font-size: 14px;
    padding-top: 16px;
    padding-left: 10px;
    font-family: sans-serif;
}

.img-sobre-nosotros {
    width: 350px;
    height: 240px;
    margin-top: 40px;
    margin-left: 12px;
    border-radius: 20px;
}

/*Servicios*/

#servicios {
    background-color: #e1e3de;
    height: 350px;
}

.titulo-servicios {
    font-size: 28px;
    padding-top: 36px;
    padding-left: 12px;
    padding-bottom: 15px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.servicios-lista {
    font-size: 15px;
    padding-top: 16px;
    padding-left: 50px;
    font-family: sans-serif;
    list-style: none;
}

.servicios-lista li {
   margin-bottom: 15px;
}

/*Beneficios*/

#beneficios {
    background-color: #e6e3e1;
    height: 390px;
}

.titulo-beneficios {
    font-size: 28px;
    padding-top: 36px;
    padding-left: 25px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.texto-beneficios {
    font-size: 13px;
    padding-top: 6px;
    padding-left: 34px;
    font-family: sans-serif;
    color: rgb(65, 65, 65);
}

#servicios p {
   text-align: center;
}

.beneficios-lista {
    font-size: 15px;
    padding-top: 25px;
    padding-left: 10px;
    font-family: sans-serif;
    list-style: none;
}

.beneficios-lista li {
   margin-bottom: 15px;
}

/*Proyectos*/
/*Proyecto 1*/

#proyectos1 {
    background-color: #e1e3de;
    height: 530px;
}

.titulo-proyectos1 {
    font-size: 18px;
    padding-top: 36px;
    padding-left: 25px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.titulo2-proyectos1 {
    font-size: 26px;
    padding-top: 36px;
    padding-left: 25px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.texto-proyectos1 {
    font-size: 14px;
    padding-top: 16px;
    padding-left: 24px;
    font-family: sans-serif;
}

/* Galería horizontal */
.galeria-proyecto {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding: 30px 20px;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.galeria-proyecto::-webkit-scrollbar {
    display: none;
}

.galeria-proyecto img {
    flex: 0 0 85%;
    border-radius: 20px;
    scroll-snap-align: center;
    width: 350px;
    height: 220px;
}

/*Proyecto 2*/

#proyectos2 {
    background-color: #272727;
    height: 530px;
}

.titulo-proyectos2 {
    font-size: 18px;
    padding-top: 36px;
    padding-left: 25px;
    color: white;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.titulo2-proyectos2 {
    font-size: 26px;
    padding-top: 36px;
    padding-left: 25px;
    color: white;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.texto-proyectos2 {
    font-size: 14px;
    padding-top: 16px;
    padding-left: 24px;
    font-family: sans-serif;
    color: white;
}

/*Proyecto 3*/

#proyectos3 {
    background-color: #e1e3de;
    height: 530px;
}

.titulo-proyectos3 {
    font-size: 18px;
    padding-top: 36px;
    padding-left: 25px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.titulo2-proyectos3 {
    font-size: 26px;
    padding-top: 36px;
    padding-left: 25px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.texto-proyectos3 {
    font-size: 14px;
    padding-top: 16px;
    padding-left: 24px;
    font-family: sans-serif;
}

/*Proceso*/

#proceso {
    background-color: #e6e3e1;
    height: 350px;
}

.titulo-proceso {
    font-size: 30px;
    padding-top: 36px;
    padding-left: 50px;
    padding-bottom: 15px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.proceso-lista {
    font-size: 16px;
    padding-top: 16px;
    padding-left: 25px;
    font-family: sans-serif;
    list-style: none;
}

.proceso-lista li {
   margin-bottom: 15px;
}

/*Footer*/

footer {
    background-color: #000000;
    height: 330px;
}

footer h2 {
    color: white;
    font-size: 28px;
    padding-top: 60px;
    padding-left: 30px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

footer p {
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 18px;
    padding-left: 6px;
}

footer button {
    width: 150px;
    height: 45px;
    border-radius: 20px;
    background-color: white;
    border: 2px rgb(0, 0, 0) solid;
    margin-top: 35px;
    margin-left: 110px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

/*Boton wpp*/

.wpp-float{
    position: fixed;
    bottom: 30px;
    right: 25px;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

    z-index: 1000;
}

.wpp-float img{
    width: 50px;
}

/* =========================
TABLET 768px
========================= */

@media (min-width: 768px) {

#hero{
    height: 420px;
}

h1{
    font-size: 48px;
    padding-left: 75px;
}

.texto-hero{
    font-size: 18px;
    padding-left: 125px;
}

.boton-hero{
    font-size: 14px;
    width: 180px;
    height: 55px;
    margin-left: 280px;
}

/* Sobre nosotros */

#sobre-nosotros{
    height: auto;
    padding-bottom: 60px;
}

.titulo-sobre-nosotros{
    font-size: 50px;
    padding-left: 150px;
}

.texto-sobre-nosotros{
    font-size: 15px;
    padding-left: 150px;
    width: 70%;
}

.img-sobre-nosotros{
    width: 500px;
    height: 320px;
    margin-left: 120px;
}

/* Servicios */

#servicios{
    height: auto;
    padding-bottom: 60px;
}

.titulo-servicios{
    font-size: 40px;
    padding-left: 120px;
}

.servicios-lista{
    font-size: 18px;
    padding-left: 200px;
}

/* Beneficios */

#beneficios{
    height: auto;
    padding-bottom: 60px;
}

.titulo-beneficios{
    font-size: 40px;
    text-align: center;
    margin-right: 90px;
}

.texto-beneficios {
    font-size: 16px;
    text-align: center;
    margin-right: 100px;
}

.beneficios-lista{
    font-size: 18px;
    margin-left: 150px;

}

/* Proyectos */

.titulo-proyectos3, .titulo-proyectos2, .titulo-proyectos1 {
    font-size: 20px;
}

.titulo2-proyectos3, .titulo2-proyectos2, .titulo2-proyectos1 {
    font-size: 26px;
}

.texto-proyectos3, .texto-proyectos2, .texto-proyectos1 {
    font-size: 16px;
    padding-top: 16px;
    padding-left: 24px;
    max-width: 410px;
}

.galeria-proyecto{
    scrollbar-width: auto;
}

.galeria-proyecto::-webkit-scrollbar{
    display: block;
    height: 8px;
}

.galeria-proyecto::-webkit-scrollbar-track{
    background: #d1d1d1;
    border-radius: 10px;
}

.galeria-proyecto::-webkit-scrollbar-thumb{
    background: #696969;
    border-radius: 10px;
}

.galeria-proyecto img{
    flex: 0 0 60%;
}

/* Proceso */

#proceso{
    height: auto;
    padding-bottom: 60px;
}

.titulo-proceso{
    font-size: 50px;
    padding-left: 150px;
}

.proceso-lista{
    font-size: 18px;
    padding-left: 200px;
}

/* Footer */

footer{
    height: auto;
    padding-bottom: 60px;
}

footer h2{
    font-size: 30px;
    text-align: center;
    padding-right: 50px;
}

footer h2 span {
    padding-right: 80px;
}

footer p{
    font-size: 16px;
    padding-left: 130px;
}

footer button {
    font-size: 14px;
    width: 180px;
    height: 55px;
    margin-left: 280px;
}

}


/* =========================
DESKTOP 1024px
========================= */

@media (min-width: 1024px) {

#hero{
    height: 520px;
}

h1{
    font-size: 56px;
    padding-left: 160px;
}

.texto-hero{
    font-size: 20px;
    padding-left: 240px;
}

.boton-hero{
    width: 180px;
    height: 55px;
    font-size: 14px;
    margin-left: 400px;
}

/* Sobre nosotros */

#sobre-nosotros{
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 80px;
    height: auto;
}

.img-sobre-nosotros{
    width: 380px;
    height: auto;
    margin: 0;
}

.titulo-sobre-nosotros{
    font-size: 48px;
    padding: 0;
}

.texto-sobre-nosotros{
    font-size: 15px;
    padding: 0;
    margin-top: 20px;
    max-width: 800px;
    line-height: 1.6;
}

/* Servicios */

.titulo-servicios{
    font-size: 50px;
    padding-left: 200px;
}

.servicios-lista{
    font-size: 20px;
    padding-left: 350px;
}

/* Beneficios */

.titulo-beneficios{
    font-size: 50px;
    text-align: center;
    margin-right: 90px;
}

.texto-beneficios {
    font-size: 16px;
    text-align: center;
    margin-right: 100px;
}

.beneficios-lista{
    font-size: 20px;
    margin-left: 250px;

}

/* Proyectos */

#proyectos1, #proyectos2, #proyectos3 {
    height: 600px;
}

.titulo-proyectos3, .titulo-proyectos2, .titulo-proyectos1 {
    font-size: 25px;
}

.titulo2-proyectos3, .titulo2-proyectos2, .titulo2-proyectos1 {
    font-size: 32px;
}

.texto-proyectos3, .texto-proyectos2, .texto-proyectos1 {
    font-size: 18px;
    padding-top: 16px;
    padding-left: 24px;
    max-width: 470px;
}

.galeria-proyecto{
    scrollbar-width: auto;
}

.galeria-proyecto::-webkit-scrollbar{
    display: block;
    height: 8px;
}

.galeria-proyecto::-webkit-scrollbar-track{
    background: #d1d1d1;
    border-radius: 10px;
}

.galeria-proyecto::-webkit-scrollbar-thumb{
    background: #696969;
    border-radius: 10px;
}

.galeria-proyecto img{
    flex: 0 0 60%;
    height: 300px;
}

/* Proceso */

.titulo-proceso{
    font-size: 50px;
    padding-left: 270px;
}

.proceso-lista{
    font-size: 20px;
    padding-left: 310px;
}

/* Footer */

footer h2{
    font-size: 40px;
}

footer p{
    font-size: 20px;
    margin-left: 80px;
}

footer button {
    margin-left: 430px;
}

}

/* =========================
DESKTOP 1440px
========================= */

@media (min-width:1440px){

#hero{
    height: 600px;
}

h1{
    font-size: 86px;
    padding-left: 400px;
    padding-top: 100px;
}

.texto-hero{
    font-size: 35px;
    padding-left: 460px;
}

.boton-hero{
    width: 230px;
    height: 65px;
    font-size: 18px;
    margin-top: 80px;
    margin-left: 770px;
}

/* Sobre nosotros */

#sobre-nosotros{
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 80px;
    height: auto;
}

.img-sobre-nosotros{
    width: 500px;
    height: auto;
    margin: 0;
    margin-left: 200px;
}

.titulo-sobre-nosotros{
    font-size: 50px;
    padding: 0;
}

.texto-sobre-nosotros{
    font-size: 20px;
    padding: 0;
    margin-top: 20px;
    max-width: 800px;
    line-height: 1.6;
}

/* Servicios */

.titulo-servicios{
    font-size: 60px;
    padding-left: 530px;
}

.servicios-lista{
    font-size: 24px;
    padding-top: 30px;
    padding-left: 680px;
}

/* Beneficios */

.titulo-beneficios{
    font-size: 60px;
    text-align: center;
    margin-right: 120px;
}

.texto-beneficios {
    font-size: 20px;
    text-align: center;
    margin-right: 100px;
}

.beneficios-lista{
    font-size: 25px;
    margin-top: 30px;
    margin-left: 580px;

}

/* Proyectos */

#proyectos1, #proyectos2, #proyectos3 {
    height: 870px;
}

.titulo-proyectos3, .titulo-proyectos2, .titulo-proyectos1 {
    font-size: 25px;
}

.titulo2-proyectos3, .titulo2-proyectos2, .titulo2-proyectos1 {
    font-size: 42px;
}

.texto-proyectos3, .texto-proyectos2, .texto-proyectos1 {
    font-size: 20px;
    padding-top: 16px;
    padding-left: 24px;
    max-width: 470px;
}

.galeria-proyecto{
    scrollbar-width: auto;
}

.galeria-proyecto::-webkit-scrollbar{
    display: block;
    height: 8px;
}

.galeria-proyecto::-webkit-scrollbar-track{
    background: #d1d1d1;
    border-radius: 10px;
}

.galeria-proyecto::-webkit-scrollbar-thumb{
    background: #696969;
    border-radius: 10px;
}

.galeria-proyecto img{
    flex: 0 0 60%;
    height: 500px;
}

/* Proceso */

.titulo-proceso{
    font-size: 60px;
    padding-left: 600px;
}

.proceso-lista{
    font-size: 25px;
    padding-left: 630px;
}

/* Footer */

footer h2{
    font-size: 60px;
    margin-right: 80px;
}

footer p{
    font-size: 25px;
    margin-left: 410px;
}

footer button {
    width: 230px;
    height: 65px;
    font-size: 18px;
    margin-top: 80px;
    margin-left: 800px;
}

/* Wpp */

.wpp-float{
    bottom: 45px;
    right: 40px;
}

.wpp-float img{
    width: 70px;
}

}