* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Section1-hero*/

#hero {
    background-color: #696969;
    width: 100%;
    height: 300px;
}

h1 {
    color: white;
    font-size: 28px;
    padding-top: 60px;
    padding-left: 14px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.texto-hero {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 8px;
    padding-left: 6px;
}

.boton-hero {
    width: 150px;
    height: 45px;
    border-radius: 20px;
    background-color: white;
    border: 2px rgb(56, 56, 56) solid;
    margin-top: 35px;
    margin-left: 110px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(56, 56, 56);
}

/*Section2-sobre nosotros*/

#sobre-nosotros {
    background-color: #e6e3e1;
    height: 600px;
}

.titulo-sobre-nosotros {
    font-size: 30px;
    padding-top: 36px;
    padding-left: 10px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.texto-sobre-nosotros {
    font-size: 14px;
    padding-top: 16px;
    padding-left: 10px;
    font-family: sans-serif;
}

.img-sobre-nosotros {
    width: 350px;
    height: 240px;
    margin-top: 40px;
    margin-left: 12px;
    border-radius: 20px;
}

/*Servicios*/

#servicios {
    background-color: #e1e3de;
    height: 310px;
}

.titulo-servicios {
    font-size: 28px;
    padding-top: 36px;
    padding-left: 12px;
    padding-bottom: 15px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.servicios-lista {
    font-size: 15px;
    padding-top: 16px;
    padding-left: 50px;
    font-family: sans-serif;
    list-style: none;
}

.servicios-lista li {
   margin-bottom: 15px;
}

/*Beneficios*/

#beneficios {
    background-color: #e6e3e1;
    height: 360px;
}

.titulo-beneficios {
    font-size: 28px;
    padding-top: 36px;
    padding-left: 25px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.texto-beneficios {
    font-size: 13px;
    padding-top: 6px;
    padding-left: 34px;
    font-family: sans-serif;
    color: rgb(65, 65, 65);
}

#servicios p {
   text-align: center;
}

.beneficios-lista {
    font-size: 15px;
    padding-top: 25px;
    padding-left: 10px;
    font-family: sans-serif;
}

.beneficios-lista li {
   margin-bottom: 15px;
}

/*Proyectos*/
/*Proyecto 1*/

#proyectos1 {
    background-color: #e1e3de;
    height: 530px;
}

.titulo-proyectos1 {
    font-size: 18px;
    padding-top: 36px;
    padding-left: 25px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.titulo2-proyectos1 {
    font-size: 26px;
    padding-top: 36px;
    padding-left: 25px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.texto-proyectos1 {
    font-size: 14px;
    padding-top: 16px;
    padding-left: 24px;
    font-family: sans-serif;
}

/* Galería horizontal */
.galeria-proyecto {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding: 30px 20px;
    scroll-snap-type: x mandatory;
}

.galeria-proyecto img {
    flex: 0 0 85%;
    border-radius: 20px;
    scroll-snap-align: center;
    width: 350px;
    height: 220px;
}

/*Proyecto 2*/

#proyectos2 {
    background-color: #272727;
    height: 530px;
}

.titulo-proyectos2 {
    font-size: 18px;
    padding-top: 36px;
    padding-left: 25px;
    color: white;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.titulo2-proyectos2 {
    font-size: 26px;
    padding-top: 36px;
    padding-left: 25px;
    color: white;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.texto-proyectos2 {
    font-size: 14px;
    padding-top: 16px;
    padding-left: 24px;
    font-family: sans-serif;
    color: white;
}

/*Proyecto 3*/

#proyectos3 {
    background-color: #e1e3de;
    height: 530px;
}

.titulo-proyectos3 {
    font-size: 18px;
    padding-top: 36px;
    padding-left: 25px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.titulo2-proyectos3 {
    font-size: 26px;
    padding-top: 36px;
    padding-left: 25px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.texto-proyectos3 {
    font-size: 14px;
    padding-top: 16px;
    padding-left: 24px;
    font-family: sans-serif;
}

/*Proceso*/

#proceso {
    background-color: #e6e3e1;
    height: 330px;
}

.titulo-proceso {
    font-size: 30px;
    padding-top: 36px;
    padding-left: 50px;
    padding-bottom: 15px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.proceso-lista {
    font-size: 16px;
    padding-top: 16px;
    padding-left: 25px;
    font-family: sans-serif;
    list-style: none;
}

.proceso-lista li {
   margin-bottom: 15px;
}

/*Footer*/

footer {
    background-color: #000000;
    height: 330px;
}

footer h2 {
    color: white;
    font-size: 28px;
    padding-top: 60px;
    padding-left: 30px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

footer p {
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 18px;
    padding-left: 6px;
}

footer button {
    width: 150px;
    height: 45px;
    border-radius: 20px;
    background-color: white;
    border: 2px rgb(0, 0, 0) solid;
    margin-top: 35px;
    margin-left: 110px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(0, 0, 0);
}